<a href="https://colab.research.google.com/github/hariPrasadCoder/Nifty-50-EV-EBITDA-valuation-model/blob/main/Code_breakup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
source = requests.get('https://www.moneycontrol.com/financials/relianceindustries/consolidated-ratiosVI/RI#RI').text

In [3]:
soup = BeautifulSoup(source, 'lxml')

In [4]:
tabs = []
table = soup.find("table", class_='mctable1')
for tr in table.find_all("tr")[1:]:
  tabs.append({
            'Ratio Titles': tr.find_all('td')[0].text,
            'Mar21': tr.find_all('td')[1].text,
            'Mar20': tr.find_all('td')[2].text,
            'Mar19': tr.find_all('td')[3].text,
            'Mar18': tr.find_all('td')[4].text,
            'Mar17': tr.find_all('td')[5].text
            })
  
df = pd.DataFrame(tabs)
df = df.set_index('Ratio Titles')
df

                                                  Mar21  ...       Mar17
Ratio Titles                                             ...
Per Share Ratios                                         ...
Basic EPS (Rs.)                                   76.37  ...      101.33
Diluted EPS (Rs.)                                 75.21  ...      101.14
Cash EPS (Rs.)                                   123.81  ...      140.54
Book Value [ExclRevalReserve]/Share (Rs.)      1,240.39  ...      898.11
Book Value [InclRevalReserve]/Share (Rs.)      1,240.39  ...      901.05
Revenue from Operations/Share (Rs.)              724.47  ...    1,032.04
PBDIT/Share (Rs.)                                150.60  ...      188.03
PBIT/Share (Rs.)                                 109.37  ...      148.67
PBT/Share (Rs.)                                   85.25  ...      135.66
Net Profit/Share (Rs.)                            82.58  ...      101.19
NP After MI And SOA / Share (Rs.)                 76.23  ...      101.05
Profitability Ratios                                     ...
PBDIT Margin (%)                                  20.78  ...       18.21
PBIT Margin (%)                                   15.09  ...       14.40
PBT Margin (%)                                    11.76  ...       13.14
Net Profit Margin (%)                             11.39  ...        9.80
NP After MI And SOA Margin (%)                    10.52  ...        9.79
Return on Networth/Equity (%)                      7.01  ...       11.37
Return on Capital Employed (%)                     6.75  ...        9.22
Return on Assets (%)                               3.71  ...        4.19
Total Debt/Equity (X)                              0.32  ...        0.70
Asset Turnover Ratio (%)                          35.34  ...       42.87
Liquidity Ratios                                         ...
Current Ratio (X)                                  1.34  ...        0.62
Quick Ratio (X)                                    1.05  ...        0.42
Inventory Turnover Ratio (X)                       5.72  ...        6.24
Dividend Payout Ratio (NP) (%)                     7.98  ...        0.00
Dividend Payout Ratio (CP) (%)                     5.17  ...        0.00
Earnings Retention Ratio (%)                      92.02  ...        0.00
Cash Earnings Retention Ratio (%)                 94.83  ...        0.00
Coverage Ratios                                          ...
Interest Coverage Ratios (%)                       3.33  ...       11.43
Interest Coverage Ratios (Post Tax) (%)            3.33  ...       11.43
Valuation Ratios                                         ...
Enterprise Value (Cr.)                     1,596,689.40  ...  573,921.28
EV/Net Operating Revenue (X)                       3.42  ...        1.88
EV/EBITDA (X)                                     16.45  ...       10.32
MarketCap/Net Operating Revenue (X)                2.77  ...        1.28
Retention Ratios (%)                              92.01  ...        0.00
Price/BV (X)                                       1.84  ...        1.49
Price/Net Operating Revenue                        2.77  ...        1.28
Earnings Yield                                     0.04  ...        0.08

[43 rows x 5 columns]

In [5]:
df2 = df.loc[['Enterprise Value (Cr.)','EV/EBITDA (X)'],:]
df2

                               Mar21       Mar20  ...       Mar18       Mar17
Ratio Titles                                      ...
Enterprise Value (Cr.)  1,596,689.40  977,860.06  ...  703,682.16  573,921.28
EV/EBITDA (X)                  16.45        9.57  ...        9.49       10.32

[2 rows x 5 columns]

In [6]:
df2['Mar21'] = df2['Mar21'].str.replace(',','').astype('float')
df2['Mar20'] = df2['Mar20'].str.replace(',','').astype('float')
df2['Mar19'] = df2['Mar19'].str.replace(',','').astype('float')
df2['Mar18'] = df2['Mar18'].str.replace(',','').astype('float')
df2['Mar17'] = df2['Mar17'].str.replace(',','').astype('float')
df2

                             Mar21      Mar20       Mar19      Mar18      Mar17
Ratio Titles
Enterprise Value (Cr.)  1596689.40  977860.06  1076884.43  703682.16  573921.28
EV/EBITDA (X)                16.45       9.57       11.64       9.49      10.32

In [7]:
ebitda = (df2.iloc[0,:].values/df2.iloc[1,:].values).tolist()
ebitda

[97063.18541033435,
 102179.73458725183,
 92515.84450171821,
 74149.85879873551,
 55612.52713178295]

In [8]:
df2.loc['EBITA'] = ebitda
df2

                               Mar21  ...          Mar17
Ratio Titles                          ...
Enterprise Value (Cr.)  1.596689e+06  ...  573921.280000
EV/EBITDA (X)           1.645000e+01  ...      10.320000
EBITA                   9.706319e+04  ...   55612.527132

[3 rows x 5 columns]

In [9]:
pd.set_option('display.float_format', '{:.2f}'.format)
df2

                            Mar21     Mar20      Mar19     Mar18     Mar17
Ratio Titles
Enterprise Value (Cr.) 1596689.40 977860.06 1076884.43 703682.16 573921.28
EV/EBITDA (X)               16.45      9.57      11.64      9.49     10.32
EBITA                    97063.19 102179.73   92515.84  74149.86  55612.53

In [10]:
list_growth = []
for i in range(len(ebitda)-1):
  growth = ((ebitda[i]-ebitda[i+1])/ebitda[i+1])*100
  list_growth.append(growth)
  i += 1

avg_growth_in_ebitda = np.mean(list_growth[:3])
avg_growth_in_ebitda

10.068999438864253

In [11]:
expected_ebitda = ebitda[0]*((100+avg_growth_in_ebitda)/100)
expected_ebitda

106836.4770046447

In [12]:
source2 = requests.get('https://www.moneycontrol.com/financials/relianceindustries/consolidated-balance-sheetVI/RI#RI').text
soup2 = BeautifulSoup(source2, 'lxml')

In [13]:
tabs = []
table = soup2.find("table", class_='mctable1')
for tr in table.find_all("tr")[1:]:
  tabs.append({
            'Balance Sheet': tr.find_all('td')[0].text,
            'Mar21': tr.find_all('td')[1].text,
            'Mar20': tr.find_all('td')[2].text,
            'Mar19': tr.find_all('td')[3].text,
            'Mar18': tr.find_all('td')[4].text,
            'Mar17': tr.find_all('td')[5].text
            })
  
df_bs = pd.DataFrame(tabs)
df_bs = df_bs.set_index('Balance Sheet')
df_bs

                                                    Mar21  ...       Mar17
Balance Sheet                                              ...
                                                  12 mths  ...     12 mths
EQUITIES AND LIABILITIES                                   ...
SHAREHOLDER'S FUNDS                                        ...
Equity Share Capital                             6,445.00  ...    2,959.00
Total Share Capital                              6,445.00  ...    2,959.00
Reserves and Surplus                           693,727.00  ...  259,876.00
Total Reserves and Surplus                     693,727.00  ...  260,746.00
Total Shareholders Funds                       700,172.00  ...  263,705.00
Minority Interest                               99,260.00  ...    2,917.00
NON-CURRENT LIABILITIES                                    ...
Long Term Borrowings                           163,683.00  ...  152,148.00
Deferred Tax Liabilities [Net]                  37,001.00  ...   26,735.00
Other Long Term Liabilities                     40,903.00  ...   29,162.00
Long Term Provisions                             2,625.00  ...    2,353.00
Total Non-Current Liabilities                  244,212.00  ...  210,398.00
CURRENT LIABILITIES                                        ...
Short Term Borrowings                           60,081.00  ...   31,528.00
Trade Payables                                 108,897.00  ...   76,595.00
Other Current Liabilities                      106,086.00  ...  125,423.00
Short Term Provisions                            2,504.00  ...    1,769.00
Total Current Liabilities                      277,568.00  ...  235,315.00
Total Capital And Liabilities                1,321,212.00  ...  712,339.00
ASSETS                                                     ...
NON-CURRENT ASSETS                                         ...
Tangible Assets                                451,066.00  ...  170,483.00
Intangible Assets                               79,980.00  ...   23,151.00
Capital Work-In-Progress                        71,171.00  ...  250,377.00
Fixed Assets                                   656,999.00  ...  518,471.00
Non-Current Investments                        212,382.00  ...   25,639.00
Deferred Tax Assets [Net]                        1,147.00  ...    5,537.00
Long Term Loans And Advances                     2,484.00  ...    2,708.00
Other Non-Current Assets                        64,977.00  ...    8,279.00
Total Non-Current Assets                       948,201.00  ...  565,526.00
CURRENT ASSETS                                             ...
Current Investments                            152,446.00  ...   57,260.00
Inventories                                     81,672.00  ...   48,951.00
Trade Receivables                               19,014.00  ...    8,177.00
Cash And Cash Equivalents                       17,397.00  ...    3,023.00
Short Term Loans And Advances                       65.00  ...      996.00
OtherCurrentAssets                             102,417.00  ...   28,406.00
Total Current Assets                           373,011.00  ...  146,813.00
Total Assets                                 1,321,212.00  ...  712,339.00
OTHER ADDITIONAL INFORMATION                               ...
CONTINGENT LIABILITIES, COMMITMENTS                        ...
Contingent Liabilities                          85,366.00  ...   76,941.00
BONUS DETAILS                                              ...
Bonus Equity Share Capital                       5,188.89  ...    2,108.56
NON-CURRENT INVESTMENTS                                    ...
Non-Current Investments Quoted Market Value          0.00  ...        0.00
Non-Current Investments Unquoted Book Value    193,228.00  ...        0.00
CURRENT INVESTMENTS                                        ...
Current Investments Quoted Market Value              0.00  ...        0.00
Current Investments Unquoted Book Value        115,098.00  ...        0.00

[53 rows x 5 columns]

In [27]:
debt = df_bs.loc[['Long Term Borrowings'],:].values.tolist()[0][1]
debt_final = float(debt.replace(',',''))
debt_final

197631.0

In [31]:
previous_ev_ebita = float(df2.iloc[1,:].values.tolist()[0])
previous_ev_ebita

16.45

In [32]:
forecasted_ev = (expected_ebitda*previous_ev_ebita)-debt_final
forecasted_ev

1559829.0467264052

In [38]:
source3 = requests.get('https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI').text
soup3 = BeautifulSoup(source3, 'lxml')

In [40]:
tabs = []
table = soup3.find("table", class_='peer_tbl')
for tr in table.find_all("tr")[1:]:
  tabs.append({
            'Company Name': tr.find_all('td')[0].text,
            'ltp': tr.find_all('td')[1].text,
            'MCap': tr.find_all('td')[3].text,
            })
  
df_mcap = pd.DataFrame(tabs)
df_mcap = df_mcap.set_index('Company Name')
df_mcap

                                     ltp          MCap
Company Name
\n\t\t\t\t\t\t\t\tReliance      2,104.45  1,356,339.04
\n\t\t\t\t\t\t\t\tONGC            120.90    152,095.58
\n\t\t\t\t\t\t\t\tPetronet LNG    228.25     34,237.50
\n\t\t\t\t\t\t\t\tOil India       156.75     16,998.05
\n\t\t\t\t\t\t\t\tHOEC            122.70      1,622.63

In [44]:
ltp,mcap = df_mcap.iloc[[0],:].values.tolist()[0]
ltp_final = float(ltp.replace(',',''))
ltp_final

2104.45

In [45]:
mcap_final = float(mcap.replace(',',''))
mcap_final

1356339.04

In [46]:
no_of_shares = mcap_final/ltp_final
no_of_shares

644.5099859820857

In [48]:
target_price = forecasted_ev/no_of_shares
target_price

2420.1782449492734

In [49]:
entry_price = target_price*0.75
entry_price

1815.1336837119552

In [52]:
incr_now = ((target_price-ltp_final)/ltp_final)*100
incr_now

15.002886500001125